// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Personal color scheme

$my-green: #b8e9c0;
$my-blue: #6384b3;
$my-yellow: #e6f0b6;
