// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #4C5F6B;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Personal color scheme

$my-green: #E7FF38;
$my-blue: #034469;
$my-yellow: #f0b505;
