// Specific CSS for your home-page

// tennis-ball-color: rgb(199, 210, 35)

body {

  /* The image used */
  background-image: url("tennis-netting.jpg");


  /* Set a specific 6ght */
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}


.ready {
  display: block;
  text-align: center;
  margin: 20px;
  // white-space: pre;
}

.main {
  display: flex;
  justify-content: center;
  height: 500px;
}

.card {
  height: 400px;
  width: 400px;
  padding: 20px;
  position: relative;
  box-shadow: 20px;
}

.form-items {
  display: flex;
  justify-content: center;
  padding-top: 14px;
}

.location_text {
  margin: 0;
  margin-left: 50px;
  margin-top: 2px;
  padding-bottom: 0;
}

.start_date {
  margin-top: 18px;
  margin-bottom: 18px;
}

.submit-button {
  left: 0;
  bottom: 0;
  position: absolute;
  padding-left: 20px;
}

.auto-height {
  height: auto;
}
