// Import page-specific CSS files here.
@import "home";

body {
 background-color: $my-blue;
}

.center {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inline {
  display: flex;
  text-align: center;
}

.padded-offer-index {
  padding-top: 12px;
  padding-left: 10px;
  text-align:left;
}

