<head>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/javascripts/home.js" type="text/javasript">
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
<div class="navbar">
    <i class="fas fa-baseball-ball fa-2x"></i>
    <div>
      <h2 class="site-name">One Raquet</h2>
    </div>
    <div>
      <link>Login</link>
    </div>
</div>
