<head>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<div class="navbar">
    <i class="fas fa-baseball-ball fa-2x"></i>
    <div>
      <h2 class="site-name">One Raquet</h2>
    </div>
    <div>
      <link>Login</link>
    </div>
</div>
