<h2>Hello user.name!</h2>

<h1>Ready to play?</h1>

<h2>Please select your details:</h2>

<!-- Look Up JS Range Picker for Time Range -->
<!-- Come back to later -->


<%= form_tag offers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a offer"
  %>

<p>Please select the date & time:</p>

<%= date_field_tag :date %>


  <%= submit_tag "submit", class: "btn btn-primary" %>
<% end %>
