<h1>Please list your offers here</h1>
<!-- @offers.each do |offer| -->

<div class= 'col-sm-6'>
  <% @test_offers.each do |test_offer| %>
    <div class = 'card'>
      <h2><%= test_offer %></h2>
    </div>
  <% end %>
</div>

