<h1 class = 'text-success'>No suitable matches? Create your offer below! </h1>

<%= simple_form_for @offer do |f| %>

  <%= f.input :match_at %>
  <p> <strong> Select a Court: </strong> </p>
  <%= f.collection_select :court_id, Court.all, :id, :name %>
  <%= f.submit "Add offer",:input_html =>{:class => "create"} %>
<% end %>
