// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.parent-box {
  position: relative;
  min-height: calc(100vh - 70px);
}

.box {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

#smaller {
  min-height: calc(85vh - 70px);
}
