
body {
  height: 50px;

}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

i {
  font-family: FontAwesome;
  color: $green;
}

.x_swipe {
  color: $red;
}


ul.navbar-nav.mr-auto .checkbox-button {
  background: red;
  padding: 1rem 1.5rem;
  color: white;
  text-align: center;
  border-radius: 5px;
}

#dashboard-btn {
  padding-right: 20px;
}

.site-name {
  font-family: $logo2-font;
  font-size: 18px;
  font-style: light;

  padding-bottom: 2px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
}

.app_name {
  color: navy;


  margin-top: 4px;
  margin-left: -111px;
}

