.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

i {
  font-family: FontAwesome;
  color: rgb(206, 224, 36);
}


ul.navbar-nav.mr-auto .checkbox-button {
  background: blue;
  padding: 1rem 1.5rem;
  color: white;
  text-align: center;
  border-radius: 5px;
}
