.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  border: solid;
}

i {
  // width: 60px;
  font-family: FontAwesome;
  color: rgb(206, 224, 36);
  // margin-left: 8px;
  // margin-top: 6px;
}

