.parallax {
  /* The image used */
  background-image: url("tennis-netting.jpg");

  /* Set a specific 6ght */
  height: 3000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}


#header {
  font-size: 20px;
  color: #4C5F6B;
}

#dashboard_card {
  width: 92%;
  color: $blue;
  opacity: 0.85;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    #img_card {
      height:100px;
    }
    .card-body {
      font-size: 10px;
    }

}

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Personal color scheme

$my-green: #E7FF38;
$my-blue: #6384b3;
$my-yellow: #e6f0b6;
